
* {
  margin: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none; 
    overflow-x: hidden;
}

body {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.1em;
  color: white;
  background: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: start;
    background-color: black;
    width: 100%;
    height: 310px;
}

h1 {
    text-shadow: 0px 0px 20px rgba(206,206,206,0.74);
}

header > div {
    padding: 10px 0px 10px 0px;
}

#logo-portrait {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0px 0px 40px 1px rgba(206,206,206,0.47);
    width: 300px;
}

#namesake {
    padding: 1em;
}

#namesake > h1 {
    position: relative;
    color: white;
    border: 0px solid black;
    padding: 20px;
}

#namesake > h2 {
    position: relative;
    padding: 20px;
}

#name {
    position: relative;
    font-size: 4em;
}

nav {
    color: white;
}

#nav-container {
    position: relative;
    font-size: 1.5em;
    min-width: 150px;
}

#nav-items > li {
    position: relative;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 50px;
}

#nav-items > li > a {
    color: white;
}

.carousel {
    margin: 0px auto;
    width: auto;
    height: 33em;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    margin-top: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 100%;
    justify-content: flex-start;
    gap: 0em;
    animation: spin 45s infinite linear;
}

.card {
    flex: 1 0 5em;
    height: 12em;
    transform: scale(1.55);
    overflow: hidden;
    font-size: 3rem;
    text-align: center;
    padding: 0px;
    align-content: center;
    padding: 0em;
}

.card img {
    position: static;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes spin {
    0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #0000FF;
}

figcaption {
   color: white;
   -webkit-text-stroke: 0.5px white;
   padding-bottom: 2em;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    gap: 20px;
    padding: 3em;
    background-image: url("./Images/black-wallpaper-textured-background.jpg");
}

#about-container {
    grid-column: 1 / span 1;
    border-right: 3px solid white;
}

#about-container > h2 {
    display: grid;
    justify-content: center;
    font-size: 2em;
}

#about-container > p {
    justify-content: center;
    position: relative;
    padding: 20px;
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 1.75;
}

#skills-container {
    grid-column: 2 / span 1;
    position: relative;
    
}

#skills-container > h2 {
    display: grid;
    justify-content: center;
    font-size: 2em;
}

#skills-container > ul {
    line-height: 3.5;
    font-size: 1.5em;
}


#services > h2 {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
}

#services-container {
    display: flex;
    justify-content: space-around;
    flex: wrap;
    width: 100%;
    height: 30em;
}

.service-item {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: .2s;
    color: white;
    width: 20%;
    height: 30em;
    background: url("./Images/depositphotos_618818362-stock-photo-dark-rough-cement-wall-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.service-item:hover {
    transform: scale(1.125);
    cursor: pointer;
}

.service-item > img {
    width: 100%;
    height: 15em;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#video-showcase > h2 {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
}

#video-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    height: 33em;
}

#most-recent-video {
    position: relative;
    grid-column: 1 / span 1;
    height: 33em;
    width: 85%;
}

#second-recent-video {
    position: relative;
    grid-column: 2 / span 1;
    height: 33em;
    width: 85%;
}

#video-container > iframe {
    position: relative;
    aspect-ratio: 16 / 9;
}

/*mobile/cellphone widths*/
 @media only screen and (max-width: 767px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    #logo-portrait {
        width: 50%;
        right: 50%;
        transform: translateX(50%);
    }
    #namesake > h2 {
        font-size: 0.87em;
        padding-right: 0px;
        top: 255px;
        right: 10px;
    }
    #name {
        font-size: 2em;
        top: 185px;
        padding: 0px;
        
    }

    #nav-items > li {
        display: none;
    }
}
/*create nav side bar for phone site instead of the nav items being fixed to the page