
* {
  margin: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none; 
    overflow-x: hidden;
}

body {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.1em;
  color: white;
  background: black;
  position: relative;
  overflow-x: hidden;
}

#header-container {
    width: auto;
    height: 20em;
}

#header-elements {
    height: 20em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: start;
}

h1 {
    text-shadow: 0px 0px 20px rgba(206,206,206,0.74);
}

header > div {
    padding: 10px 0px 10px 0px;
}

.header-flex {
    display: flex;
    flex: 1 0 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#inner-image {
    width: auto;
}

#logo-portrait {
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 1px rgba(206,206,206,0.47);
    width: 18em;
}

#namesake {
    padding: 1em;
}

#namesake > h1 {
    position: relative;
    color: white;
    border: 0px solid black;
    padding-top: 20px;
    padding-bottom: 20px
}

#namesake > h2 {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px
}

#name {
    position: relative;
    font-size: 4em;
}

nav {
    color: white;
}

#nav-container {
    position: relative;
    font-size: 1.5em;
    min-width: 150px;
}

#nav-items > li {
    position: relative;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

#nav-items > li > a {
    color: white;
}

.carousel {
    margin: 0px auto;
    width: auto;
    height: 25em;
    display: flex;
    flex: 0 1 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    margin-top: 0px;
    display: flex;
    height: 100%;
    min-width: 100%;
    gap: 0em;
    animation: spin 45s infinite linear;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.card {
    flex: 0 1 auto;
    height: 12em;
    transform: scale(1.2);
    overflow: hidden;
    font-size: 3rem;
    text-align: center;
    padding: 0px;
    align-content: center;
    position: relative;
}

.card img {
    display: flex;
    position: static;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

@keyframes spin {
    0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #0000FF;
}

figcaption {
   color: white;
   -webkit-text-stroke: 0.5px white;
   padding-bottom: 2em;
   padding-top: 1em;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    gap: 20px;
    padding: 3em;
    background-image: url("./Images/black-wallpaper-textured-background.jpg");
}

#about-container {
    grid-column: 1 / span 1;
    border-right: 3px solid white;
}

#about-container > h2 {
    display: grid;
    justify-content: center;
    font-size: 2em;
}

#about-container > p {
    justify-content: center;
    position: relative;
    padding: 20px;
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 1.75;
}

#skills-container {
    grid-column: 2 / span 1;
    position: relative;
    
}

#skills-container > h2 {
    display: grid;
    justify-content: center;
    font-size: 2em;
}

#skills-container > ul {
    line-height: 3.5;
    font-size: 1.5em;
}


#services > h2 {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
}

#services-container {
    display: flex;
    justify-content: space-around;
    flex: wrap;
    width: 100%;
    height: 30em;
}

.service-item {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: .2s;
    color: white;
    width: 20%;
    height: 30em;
    background: url("./Images/depositphotos_618818362-stock-photo-dark-rough-cement-wall-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.service-item:hover {
    transform: scale(1.125);
    cursor: pointer;
}

.service-item > img {
    width: 100%;
    height: 15em;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#video-showcase > h2 {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
    flex-wrap: wrap;
}

#video-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    height: 33em;
}

#most-recent-video {
    position: relative;
    grid-column: 1 / span 1;
    height: 33em;
    width: 85%;
}

#second-recent-video {
    position: relative;
    grid-column: 2 / span 1;
    height: 33em;
    width: 85%;
}

#video-container > iframe {
    position: relative;
    aspect-ratio: 16 / 9;
}

#footer-container {
    width: autp;
    height: 23em;
    padding-top: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#social-heading {
    padding-top: 1em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}

#social-container {
    grid-column: 1 / span 1;
    border-right: 3px solid white;
    border-top: 3px solid white;
}

#social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.fa-brands {
    font-size: 5em;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#insta-icon {
    --_space: ;
    background-image: linear-gradient(
      45deg var(--_space),
      #b000e6 6%,
      #f79e02 81%,
      #f58f0a 100%
    );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-tiktok {
    --_space: ;

    background-image: linear-gradient(
     135deg var(--_space),
        #00e6da 36%,
        #ff00d9 59%,
     #ff00bf 0%
    );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact-container {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top: 3px solid white;
    font-size: 1.2em;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
}

#contact-heading {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    position: relative;
}

#contact-container > p {
    font-size: 0.5em;
}


/* figure out how the fuck to make the about section wrap down at this width*/
 @media only screen and (max-width: 1400px) {
    #about {
       display: block;
    }

    #about-container {
        border-right: none;
    }

    #skills-container > ul {
        line-height: 3;
    }
 }

@media only screen and (max-width: 1020px) {
    #namesake, #inner-image, #nav-container {
        transform: scale(0.7);
        position: relative;
        min-width: 0;
    }

    #namesake {
        padding: 0px;
    }

    .carousel {
        height: 27em; 
    }

    #services-container {
        display: block;
        height: auto;
    }

    .service-item {
        width: auto;
        margin-bottom: 2em;
    }

    .service-item > img {
        zoom: 150%;
        object-fit: cover;
    }
    
    .service-item:hover {
        display: none;
    }

    #video-container {
        display: block;
        height: auto;
    }

    .video {
        display: flex;
        margin-bottom: 2em;
    }

    #footer-container {
        display: block;
    }

    #social-container {
        border-right: none;
    }

    #contact-container {
        font-size: 1em;
        height: 24em;
        padding-right: 1em;
        padding-left: 1em;
    }
}

/*mobile/cellphone widths*/
 @media only screen and (max-width: 767px) {
    .carousel {
        height: 18em;
    }
    
    figcaption {
        font-size: 1em;
    }

    #about {
        padding: 1em;
    }

    #about-container > h2 {
        font-size: 1.5em;
    }

    #about-container > p {
        font-size: 1em;
    }

    #skills-container > h2 {
        font-size: 1.5em;
    }

    #skills-container > ul {
        font-size: 1em;
        line-height: 2.5;
    }
 }

@media only screen and (max-width: 550px) {
    #namesake, #inner-image, #nav-container {
        transform: scale(0.4);
    }

    #header-elements {
        height: 9em;
    }

    #header-container {
        height: 10em;
    }

    .carousel {
        height: 14em;
    }

    figcaption {
        font-size: 0.75em;
    }

        #about {
        padding: 1em;
    }

    #about-container > h2 {
        font-size: 1em;
    }

    #about-container > p {
        font-size: 0.75em;
    }

    #skills-container > h2 {
        font-size: 1em;
    }

    #skills-container > ul {
        font-size: 0.75em;
        line-height: 2;
    }
}